  <p class="border">
    <span>
      <span class="text"><b><%= message.user.name %> : <%= message.timestamp %></b>:</span> <span class="message"><em><%= message.body %></em></span>
    </span>
  </p>
